POSTGRES_DB=abogado_virtual
POSTGRES_USER=abogado_user
POSTGRES_PASSWORD=abogado_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CHROMA_HOST=localhost
CHROMA_PORT=8000

# HuggingFace token (necesario para modelos privados)
HF_TOKEN=
